<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>


    <!-- <%= %> Is EJS syntax, here we place variables that are passed from javascript -->
    <h1><%= kindOfDay %> ToDo ListList</h1>

    <!-- Each time we click submit a new item is appended to the ul -->
    <ul>
      <% for (var i=0; i<newListItems.length; i++) { %>
        <li> <%= newListItems[i] %> </li>
      <% } %>
    </ul>

    <!-- When we click the button the string gets appended to newListItems -->
    <form class="" action="/" method="post">

      <input type="text" name="newItem">

      <button type="submit" name="button">Add</button>

    </form>

  </body>
</html>
